In [1]:
import pandas as pd

In [79]:
trips_df = pd.read_csv('trips.txt')
trips_df.head()
route_id_num = '100215'
shapes_df = pd.read_csv('shapes.txt')

In [80]:
trips_df.head()

,route_id,trip_id,service_id,trip_short_name,trip_headsign,route_short_name,direction_id,block_id,shape_id,fare_id
0,100215,30767311,5251,EXPRESS,University District Jackson Park,373E,1,4512627,24373019,112.0
1,100215,30767312,5251,EXPRESS,University District Jackson Park,373E,1,4512470,24373019,112.0
2,100059,30767342,5251,LOCAL,University District Via SR-520,NaN,1,4512593,14167334,112.0
3,100059,30767344,5251,LOCAL,University District Via SR-520,NaN,1,4512533,14167334,112.0
4,100059,30767346,5251,LOCAL,University District Via SR-520,NaN,1,4512615,14167334,112.0

In [76]:
index = trips_df.index[trips_df['route_id'] == 100215].values
trips_df.get_value(index[0], 'shape_id' )

24373019

In [104]:
shape_info = shapes_df.query('shape_id ==' + str(10002011) )

In [105]:
route_shape = shape_info.groupby('shape_id')['shape_pt_lat', 'shape_pt_lon']

In [106]:
route_shape.head()

   shape_pt_lat  shape_pt_lon
0     47.612160   -122.281761
1     47.612164   -122.281830
2     47.612122   -122.281921
3     47.612202   -122.282005
4     47.612278   -122.282074

In [100]:
route_shape.

AttributeError: 'DataFrameGroupBy' object has no attribute 'tolist'