In [1]:
import pandas as pd

In [2]:
household_df = pd.read_excel('../Data/2014-pr3-hhsurvey-households.xlsx')
persons_df = pd.read_excel('../Data/2014-pr3-hhsurvey-persons.xlsx')

In [9]:
hh_zip = []
hh_city = []
#for i in range(0,len(household_df['hhid'])):
for i in range(0,len(persons_df['hhid'])):
    hh_zip.extend(household_df.query('hhid ==' + str(persons_df['hhid'][i]))['h_zip'])
    hh_city.extend(household_df.query('hhid ==' + str(persons_df['hhid'][i]))['h_city'])

12198

In [11]:
persons_df['h_zip'] = hh_zip
persons_df['h_city'] =hh_city
persons_df.head()

,personid,hhid,pernum,person_should_take_diary,person_diary_status,proxy,resptype,age,relationship,gender,...,carpool_hov,transit_avail,carpool_other,carpool_other_specify,carpool_none,carpool_na,expwt_final,dataset,h_zip,h_city
0,1410000101,14100001,1,1,1,1.0,1,8,0,2,...,-99.0,-99.0,-99.0,-99,-99.0,-99.0,46.4468,pilot,98109,SEATTLE
1,1410000201,14100002,1,1,1,3.0,1,10,0,1,...,-99.0,-99.0,-99.0,-99,-99.0,-99.0,54.5671,pilot,98109,SEATTLE
2,1410000202,14100002,2,1,1,1.0,2,10,1,2,...,-99.0,-99.0,-99.0,-99,-99.0,-99.0,54.5671,pilot,98109,SEATTLE
3,1410000301,14100003,1,1,1,1.0,1,7,0,1,...,-99.0,-99.0,-99.0,-99,-99.0,-99.0,50.7889,pilot,98119,SEATTLE
4,1410000401,14100004,1,1,1,1.0,1,9,0,2,...,-99.0,-99.0,-99.0,-99,-99.0,-99.0,28.2518,pilot,98119,SEATTLE

In [12]:
# extracting just Seattle data
Sea_df = persons_df[(persons_df['h_city'] == 'SEATTLE')]

In [ ]:
# extracting just the columns that are needed
ddf = Sea_df[['h_zip', 'h_city', 'age', 'relationship', 'gender',
              'employment', 'worker', 'education']]
# drop any rows with NAN
df = ddf.dropna(how='any')

In [ ]:
# convert float data into string
df['h_zip'] = df.h_zip.astype(int)
df['employment'] = df.employment.astype(int)
df['education'] = df.education.astype(int)

In [ ]:
# adding a new column that has scaled age
df['age_scaled'] = df['age']
df['edu_scaled'] = df['education']
df.loc[df['age'] == 1, 'age_scaled'] = 'Under 5'
df.loc[df['age'] == 2, 'age_scaled'] = '5-11'
df.loc[df['age'] == 3, 'age_scaled'] = '12-15'
df.loc[df['age'] == 4, 'age_scaled'] = '16-17'
df.loc[df['age'] == 5, 'age_scaled'] = '18-24'
df.loc[df['age'] == 6, 'age_scaled'] = '25-34'
df.loc[df['age'] == 7, 'age_scaled'] = '35-44'
df.loc[df['age'] == 8, 'age_scaled'] = '45-54'
df.loc[df['age'] == 9, 'age_scaled'] = '55-64'
df.loc[df['age'] == 10, 'age_scaled'] = '65-74'
df.loc[df['age'] == 11, 'age_scaled'] = '75-84'
df.loc[df['age'] == 12, 'age_scaled'] = '85 or older'
df.loc[df['education'] == 1, 'edu_scaled'] = 'Less than High School'
df.loc[df['education'] == 2, 'edu_scaled'] = 'High School'
df.loc[df['education'] == 3, 'edu_scaled'] = 'Some College'
df.loc[df['education'] == 4, 'edu_scaled'] = 'Vocational/Technical Training'
df.loc[df['education'] == 5, 'edu_scaled'] = 'Associates Degree'
df.loc[df['education'] == 6, 'edu_scaled'] = 'Bachelor Degree'
df.loc[df['education'] == 7, 'edu_scaled'] = 'Graduate/Post-Graduate Degree'

In [ ]:
df.to_csv('socio_eco')