In [1]:
from bokeh.plotting import figure, save, curdoc, output_file, show
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource, CustomJS, HoverTool, LogColorMapper, GMapPlot, GMapOptions, ColumnDataSource, Circle, DataRange1d, PanTool, WheelZoomTool, BoxSelectTool
from bokeh.io import show, output_notebook
from bokeh.models import GeoJSONDataSource, LinearColorMapper
from bokeh.events import Tap 
from bokeh.layouts import widgetbox, column, row,gridplot
from bokeh.models.widgets import Button,CheckboxGroup
import geopandas as gpd
import pysal as ps
import pandas as pd
import numpy as np
import math

In [2]:
# shapefile of Seattle zip codes
grid_fp = r"C:/Users/jabbari/Desktop/uwseds-group-transit-and-social-science/Data/zips_sea/shp.shp" 

#Shapefile of bus routes of Seattle
network_fp = r"C:/Users/jabbari/Desktop/uwseds-group-transit-and-social-science/Data/bus_seattle/network.shp"

#CSV file of zip codes and number of routes passing through them
zips_sea =pd.read_csv('C:/Users/jabbari/Desktop/uwseds-group-transit-and-social-science/Data/zips_seattle.csv')

#CSV file of route numbers that passing through each zip code
zip_route =pd.read_csv('C:/Users/jabbari/Desktop/uwseds-group-transit-and-social-science/Data/routes_zipcode.csv')

In [3]:
zip_route

        x
1   227.0
2   228.0
3   229.0
4   233.0
5   234.0
6   235.0
7   236.0
8   237.0
9   238.0
10  240.0
11  243.0
12  244.0
13  245.0
14  246.0
15  247.0
16  248.0
17  250.0
18  251.0
19  252.0
20  253.0
21  254.0
22  257.0
23  258.0
24  261.0
25  262.0
26  268.0
27  269.0
28  270.0
29  271.0
30  272.0
..    ...
9   337.0
10  338.0
11  352.0
12  433.0
13  435.0
x     NaN
1   229.0
2   231.0
3   232.0
4   254.0
5   258.0
6   261.0
7   262.0
8   269.0
9   270.0
10  271.0
11  279.0
12  280.0
13  281.0
14  369.0
15  412.0
16  414.0
17  416.0
18  419.0
x     NaN
1   278.0
2   302.0
3   325.0
4   330.0
5   404.0

[1045 rows x 1 columns]

In [4]:
# Reading shapefiles
grid = gpd.read_file(grid_fp)
network = gpd.read_file(network_fp)

In [5]:
grid

,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,income,geometry
0,98101,98101,B5,G6350,S,1344748.0,271084.0,+47.6109020,-122.3364219,78172.043011,"POLYGON ((-122.340035 47.61306099999999, -122...."
1,98102,98102,B5,G6350,S,3332468.0,695816.0,+47.6371398,-122.3218912,80877.192982,"POLYGON ((-122.327661 47.649237, -122.32697 47..."
2,98103,98103,B5,G6350,S,12005477.0,1705646.0,+47.6782553,-122.3381521,89795.673077,"POLYGON ((-122.35772 47.671873, -122.357721 47..."
3,98104,98104,B5,G6350,S,2007030.0,252657.0,+47.6018840,-122.3294587,65865.384615,"POLYGON ((-122.332911 47.606086, -122.333564 4..."
4,98105,98105,B5,G6350,S,10683220.0,6441397.0,+47.6598613,-122.2849767,77649.253731,"POLYGON ((-122.328271 47.668646, -122.328259 4..."
5,98106,98106,B5,G6350,S,14240142.0,841739.0,+47.5440342,-122.3498743,75108.695652,"POLYGON ((-122.36573 47.53987799999999, -122.3..."
6,98107,98107,B5,G6350,S,5678076.0,730151.0,+47.6675273,-122.3775511,80354.330709,"POLYGON ((-122.405716 47.66858, -122.406027 47..."
7,98108,98108,B5,G6350,S,19391826.0,964752.0,+47.5348617,-122.3057936,73229.166667,"POLYGON ((-122.3353 47.554184, -122.335292 47...."
8,98109,98109,B5,G6350,S,5178198.0,1091119.0,+47.6318633,-122.3442667,87721.774194,"POLYGON ((-122.356779 47.632315, -122.357017 4..."
9,98112,98112,B5,G6350,S,8185290.0,3836278.0,+47.6328103,-122.2885112,110972.222222,"POLYGON ((-122.315539 47.631864, -122.314758 4..."
10,98115,98115,B5,G6350,S,17063514.0,5456625.0,+47.6857460,-122.2815885,94333.333333,"POLYGON ((-122.326291 47.686799, -122.326649 4..."
11,98116,98116,B5,G6350,S,7657205.0,1880414.0,+47.5742452,-122.4002222,97932.692308,"POLYGON ((-122.42139 47.580768, -122.413278 47..."
12,98117,98117,B5,G6350,S,9982911.0,1800762.0,+47.6877607,-122.3848701,104554.794521,"POLYGON ((-122.393248 47.701602, -122.391995 4..."
13,98118,98118,B5,G6350,S,16183283.0,6832355.0,+47.5402459,-122.2685446,81045.454545,"POLYGON ((-122.29156 47.553456, -122.291557 47..."
14,98119,98119,B5,G6350,S,6312656.0,1591192.0,+47.6386789,-122.3709456,89225.663717,"POLYGON ((-122.380217 47.648463, -122.380422 4..."
15,98121,98121,B5,G6350,S,1141209.0,546001.0,+47.6151915,-122.3505805,91559.405941,"POLYGON ((-122.352841 47.61859, -122.351362 47..."
16,98122,98122,B5,G6350,S,5992902.0,3155568.0,+47.6110462,-122.2932070,84535.714286,"POLYGON ((-122.32076 47.61040999999999, -122.3..."
17,98125,98125,B5,G6350,S,13960901.0,3976391.0,+47.7165126,-122.2958288,78402.061856,"POLYGON ((-122.328803 47.715892, -122.328857 4..."
18,98126,98126,B5,G6350,S,7961314.0,1777438.0,+47.5556468,-122.3795899,96190.476190,"POLYGON ((-122.380094 47.562871, -122.380092 4..."
19,98133,98133,B5,G6350,S,18376226.0,187304.0,+47.7404852,-122.3428260,64477.272727,"POLYGON ((-122.358489 47.76867499999999, -122...."
20,98134,98134,B5,G6350,S,8738343.0,1888145.0,+47.5780959,-122.3378601,93750.000000,"POLYGON ((-122.360053 47.587377, -122.360105 4..."
21,98136,98136,B5,G6350,S,5954030.0,2163632.0,+47.5364636,-122.3944092,95512.820513,"POLYGON ((-122.403908 47.559597, -122.402766 4..."
22,98144,98144,B5,G6350,S,8812563.0,4545367.0,+47.5856274,-122.2919604,84610.389610,"POLYGON ((-122.317282 47.589986, -122.317282 4..."
23,98146,98146,B5,G6350,S,12047560.0,1758214.0,+47.5000582,-122.3578478,58103.448276,"POLYGON ((-122.39409 47.504692, -122.395502 47..."
24,98154,98154,B5,G6350,S,9147.0,0.0,+47.6062106,-122.3337924,NaN,"POLYGON ((-122.334581 47.606374, -122.333564 4..."
25,98164,98164,B5,G6350,S,9165.0,0.0,+47.6059615,-122.3320293,NaN,"POLYGON ((-122.332911 47.606086, -122.3318 47...."
26,98174,98174,B5,G6350,S,9145.0,0.0,+47.6045690,-122.3353595,NaN,"POLYGON ((-122.33624 47.604693, -122.335131 47..."
27,98177,98177,B5,G6350,S,14760879.0,3562125.0,+47.7422386,-122.3766077,83000.000000,"POLYGON ((-122.394543 47.777919, -122.393332 4..."
28,98178,98178,B5,G6350,S,12554855.0,2636151.0,+47.4993867,-122.2438518,94218.750000,"POLYGON ((-122.278274 47.50395, -122.278718 47..."
29,98199,98199,B5,G6350,S,10848074.0,3887509.0,+47.6513707,-122.4073486,96428.571429,"POLYGON ((-122.422391 47.644999, -122.422517 4..."

In [6]:
# Creating routes list to store bus number for each zip code
zip_route = zip_route.dropna(axis= 0, how='any')

routes = {}
name = ()
f = 0
for c in range(0,30):
    name = zips_sea.zip[c].astype(str)
    #print(name)
    routes[c] = zip_route['x'][f:(zips_sea['count'][c].astype(int))+f].astype(int).astype(str)
    f = f + zips_sea['count'][c].astype(int)

In [7]:
routes[23]

1    235
2    243
3    249
4    251
5    287
6    294
Name: x, dtype: object

In [8]:
# Extract x and y from geometry and have them as separate columns

def getXYCoords(geometry, coord_type):
    """ Returns either x or y coordinates from  geometry coordinate sequence. Used with LineString and Polygon geometries."""
    if coord_type == 'x':
        return geometry.coords.xy[0]
    elif coord_type == 'y':
        return geometry.coords.xy[1]
    
def getLineCoords(geometry, coord_type):
    """ Returns Coordinates of Linestring object."""
    return getXYCoords(geometry, coord_type)

def getPolyCoords(geometry, coord_type):
    """ Returns Coordinates of Polygon using the Exterior of the Polygon."""
    ext = geometry.exterior
    return getXYCoords(ext, coord_type)

def getCoords(row, geom_col, coord_type):
    """
    Returns coordinates ('x' or 'y') of a geometry (Point, LineString or Polygon) as a list (if geometry is LineString or Polygon). 
    Can handle also MultiGeometries.
    """
    # Get geometry
    geom = row[geom_col]
    
    # Check the geometry type
    gtype = geom.geom_type
    
    # "Normal" geometries
    # -------------------
    
    if gtype == "Point":
        return getPointCoords(geom, coord_type)
    elif gtype == "LineString":
        return list( getLineCoords(geom, coord_type) )
    elif gtype == "Polygon":
        return list( getPolyCoords(geom, coord_type) )


grid['x'] = grid.apply(getCoords, geom_col="geometry", coord_type="x", axis=1)
grid['y'] = grid.apply(getCoords, geom_col="geometry", coord_type="y", axis=1)

In [9]:
#extracting bus routes for each zip code 

network0 = network.loc[network.OBJECTID.isin(routes[0]) , :]
network0['zip'] = zips_sea.zip[0]
ns0 = GeoJSONDataSource(geojson=network0.to_json())

network1 = network.loc[network.OBJECTID.isin(routes[1]) , :]
network1['zip'] = zips_sea.zip[1]
ns1 = GeoJSONDataSource(geojson=network1.to_json())

network2 = network.loc[network.OBJECTID.isin(routes[2]) , :]
network2['zip'] = zips_sea.zip[2]
ns2 = GeoJSONDataSource(geojson=network2.to_json())

network3 = network.loc[network.OBJECTID.isin(routes[3]) , :]
network3['zip'] = zips_sea.zip[3]
ns3 = GeoJSONDataSource(geojson=network3.to_json())

network4 = network.loc[network.OBJECTID.isin(routes[4]) , :]
network4['zip'] = zips_sea.zip[4]
ns4 = GeoJSONDataSource(geojson=network4.to_json())

network5 = network.loc[network.OBJECTID.isin(routes[5]) , :]
network5['zip'] = zips_sea.zip[5]
ns5 = GeoJSONDataSource(geojson=network5.to_json())

network6 = network.loc[network.OBJECTID.isin(routes[6]) , :]
network6['zip'] = zips_sea.zip[6]
ns6 = GeoJSONDataSource(geojson=network6.to_json())

network7 = network.loc[network.OBJECTID.isin(routes[7]) , :]
network7['zip'] = zips_sea.zip[7]
ns7 = GeoJSONDataSource(geojson=network7.to_json())

network8 = network.loc[network.OBJECTID.isin(routes[8]) , :]
network8['zip'] = zips_sea.zip[8]
ns8 = GeoJSONDataSource(geojson=network8.to_json())

network9 = network.loc[network.OBJECTID.isin(routes[9]) , :]
network9['zip'] = zips_sea.zip[9]
ns9 = GeoJSONDataSource(geojson=network9.to_json())

network10 = network.loc[network.OBJECTID.isin(routes[10]) , :]
network10['zip'] = zips_sea.zip[10]
ns10 = GeoJSONDataSource(geojson=network10.to_json())

network11 = network.loc[network.OBJECTID.isin(routes[11]) , :]
network11['zip'] = zips_sea.zip[11]
ns11 = GeoJSONDataSource(geojson=network11.to_json())

network12 = network.loc[network.OBJECTID.isin(routes[12]) , :]
network12['zip'] = zips_sea.zip[12]
ns12 = GeoJSONDataSource(geojson=network12.to_json())

network13 = network.loc[network.OBJECTID.isin(routes[13]) , :]
network13['zip'] = zips_sea.zip[13]
ns13 = GeoJSONDataSource(geojson=network13.to_json())

network14 = network.loc[network.OBJECTID.isin(routes[14]) , :]
network14['zip'] = zips_sea.zip[14]
ns14 = GeoJSONDataSource(geojson=network14.to_json())

network15 = network.loc[network.OBJECTID.isin(routes[15]) , :]
network15['zip'] = zips_sea.zip[15]
ns15 = GeoJSONDataSource(geojson=network15.to_json())

network16 = network.loc[network.OBJECTID.isin(routes[16]) , :]
network16['zip'] = zips_sea.zip[16]
ns16 = GeoJSONDataSource(geojson=network16.to_json())

network17 = network.loc[network.OBJECTID.isin(routes[17]) , :]
network17['zip'] = zips_sea.zip[17]
ns17 = GeoJSONDataSource(geojson=network17.to_json())

network18 = network.loc[network.OBJECTID.isin(routes[18]) , :]
network18['zip'] = zips_sea.zip[18]
ns18 = GeoJSONDataSource(geojson=network18.to_json())

network19 = network.loc[network.OBJECTID.isin(routes[19]) , :]
network19['zip'] = zips_sea.zip[19]
ns19 = GeoJSONDataSource(geojson=network19.to_json())

network20 = network.loc[network.OBJECTID.isin(routes[20]) , :]
network20['zip'] = zips_sea.zip[20]
ns20 = GeoJSONDataSource(geojson=network20.to_json())

network21 = network.loc[network.OBJECTID.isin(routes[21]) , :]
network21['zip'] = zips_sea.zip[21]
ns21 = GeoJSONDataSource(geojson=network21.to_json())

network22 = network.loc[network.OBJECTID.isin(routes[22]) , :]
network22['zip'] = zips_sea.zip[22]
ns22 = GeoJSONDataSource(geojson=network20.to_json())

network23 = network.loc[network.OBJECTID.isin(routes[23]) , :]
network23['zip'] = zips_sea.zip[23]
ns23 = GeoJSONDataSource(geojson=network23.to_json())

network24 = network.loc[network.OBJECTID.isin(routes[24]) , :]
network24['zip'] = zips_sea.zip[24]
ns24 = GeoJSONDataSource(geojson=network24.to_json())

network25 = network.loc[network.OBJECTID.isin(routes[25]) , :]
network25['zip'] = zips_sea.zip[25]
ns25 = GeoJSONDataSource(geojson=network25.to_json())

network26 = network.loc[network.OBJECTID.isin(routes[26]) , :]
network26['zip'] = zips_sea.zip[26]
ns26 = GeoJSONDataSource(geojson=network26.to_json())

network27 = network.loc[network.OBJECTID.isin(routes[27]) , :]
network27['zip'] = zips_sea.zip[27]
ns27 = GeoJSONDataSource(geojson=network27.to_json())

network28 = network.loc[network.OBJECTID.isin(routes[28]) , :]
network28['zip'] = zips_sea.zip[28]
ns28 = GeoJSONDataSource(geojson=network28.to_json())

network29 = network.loc[network.OBJECTID.isin(routes[29]) , :]
network29['zip'] = zips_sea.zip[29]
ns29 = GeoJSONDataSource(geojson=network29.to_json())

C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jabbari\Anaconda3\lib\site-packages\ipykernel_launcher.py:120: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
network10

In [10]:
def income_classifier(grid):
    #Defining thresholds for income
    breaks = [x for x in range(55000, 110000, 5000)]

    #Initialize the classifier and apply it
    classifier = ps.User_Defined.make(bins=breaks)
    pt_classif = grid[['income']].apply(classifier)
    # Rename the classified column
    pt_classif.columns = ['incomeb']

    # Join it back to the grid layer
    grid = grid.join(pt_classif)
    # Adding new column with bin names to be used in legend
    grid['bin']= pd.np.where(grid.incomeb.astype(str) == '1', "[55000-60000]",pd.np.where(grid.incomeb.astype(str) == '2', "[60000-65000]",
                                                                                      pd.np.where(grid.incomeb.astype(str) == '3', "[65000-70000]",
                                                                                                 pd.np.where(grid.incomeb.astype(str) == '4', "[70000-75000]",
                                                                                                            pd.np.where(grid.incomeb.astype(str) == '5', "[75000-80000]",
                                                                                                                       pd.np.where(grid.incomeb.astype(str) == '6', "[80000-85000]",
                                                                                                                                  pd.np.where(grid.incomeb.astype(str) == '7', "[85000-90000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '8', "[90000-95000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '9', "[95000-100000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '10', "[100000-105000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '11', "[105000-110000]",'NA')
                        ))))))))))
    return(grid)
    
grid = income_classifier(grid)

C:\Users\jabbari\Anaconda3\lib\site-packages\pysal\esda\mapclassify.py:267: RuntimeWarning: invalid value encountered in greater
  binIds += (x > l) * (x <= r) * k
C:\Users\jabbari\Anaconda3\lib\site-packages\pysal\esda\mapclassify.py:267: RuntimeWarning: invalid value encountered in less_equal
  binIds += (x > l) * (x <= r) * k
C:\Users\jabbari\Anaconda3\lib\site-packages\numpy\lib\function_base.py:4011: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

In [ ]:
list(grid)[-1]

In [ ]:
# Adding new column with bin names to be used in legend
grid['bin']= pd.np.where(grid.incomeb.astype(str) == '1', "[55000-60000]",pd.np.where(grid.incomeb.astype(str) == '2', "[60000-65000]",
                                                                                      pd.np.where(grid.incomeb.astype(str) == '3', "[65000-70000]",
                                                                                                 pd.np.where(grid.incomeb.astype(str) == '4', "[70000-75000]",
                                                                                                            pd.np.where(grid.incomeb.astype(str) == '5', "[75000-80000]",
                                                                                                                       pd.np.where(grid.incomeb.astype(str) == '6', "[80000-85000]",
                                                                                                                                  pd.np.where(grid.incomeb.astype(str) == '7', "[85000-90000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '8', "[90000-95000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '9', "[95000-100000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '10', "[100000-105000]",
                                                                                                                                             pd.np.where(grid.incomeb.astype(str) == '11', "[105000-110000]",'NA')
                        ))))))))))

In [ ]:
#Sort shapefile based on income so have the legend in acsending order
grid = grid.sort_values(['income'])

In [ ]:
#Drop the geometry from shapefile and create ColumnDataSource

g_df = grid.drop('geometry', axis=1).copy()
gsource = ColumnDataSource(g_df)

range(0, 30)

In [25]:
N_plots = range(len(zips_sea))
def js_code (N_plots):
    part1 = ''.join(['\n l'+str(i)+'.visible = '+'false;' for i in N_plots])
    part2 = ''.join(['\n if (cb_obj.active[i] == '+str(i)+')'+'{l'+str(i)+'.visible = '+'true;' +  '} else ' for i in N_plots])
    if part2.endswith('else '):
        part2 = part2[:-5]
    checkbox_code = '//console.log(cb_obj.active); '+ part1 + """for (i in cb_obj.active) {//console.log(cb_obj.active[i]);""" + part2 + """}""" 
    return (checkbox_code)

checkbox_code = js_code (N_plots)

In [26]:
len(checkbox_code)

2394

In [31]:
n = 30
rn = range(0,n)
code = js_code (rn)

if n > 10:
    m = 70*10 + (n-10)*73 +(n-1)*5+89
if n <=10:
    m = 70*n +(n-1)*5+89

In [32]:
m

2394

In [ ]:
#Importing desire palettes 
from bokeh.palettes import Viridis11 as palette
from bokeh.palettes import Magma4 as palette1

#Desired tools for Bokeh map
TOOLS = "pan,wheel_zoom,reset,poly_select,box_select,tap,box_zoom"

#Generating colors for identifying income on map
color_mapper = LogColorMapper(palette=palette)

#Defining the figure
p = figure(title="Seattle Bus Routes",tools=TOOLS,x_range=(-122.5, -122.1),y_range=(47.46, 47.8))

# Plot grid with income as base colors
grid2 = p.patches('x', 'y', source=gsource,
        fill_color={'field': 'incomeb', 'transform' : color_mapper},
         fill_alpha=1, line_color="black", line_width=.4,legend = 'bin')

#Color and line width for routes
col = palette1[2]
wd = 0.5

#ploting routes
r0=p.multi_line('xs', 'ys', source=ns0, color= col, line_width= wd)
r1=p.multi_line('xs', 'ys', source=ns1, color= col, line_width= wd)
r2=p.multi_line('xs', 'ys', source=ns2, color= col, line_width= wd)
r3=p.multi_line('xs', 'ys', source=ns3, color= col, line_width= wd)
r4=p.multi_line('xs', 'ys', source=ns4, color= col, line_width= wd)
r5=p.multi_line('xs', 'ys', source=ns5, color= col, line_width= wd)
r6=p.multi_line('xs', 'ys', source=ns6, color= col, line_width= wd)
r7=p.multi_line('xs', 'ys', source=ns7, color= col, line_width= wd)
r8=p.multi_line('xs', 'ys', source=ns8, color= col, line_width= wd)
r9=p.multi_line('xs', 'ys', source=ns9, color= col, line_width= wd)
r10=p.multi_line('xs', 'ys', source=ns10, color= col, line_width= wd)
r11=p.multi_line('xs', 'ys', source=ns11, color= col, line_width= wd)
r12=p.multi_line('xs', 'ys', source=ns12, color= col, line_width= wd)
r13=p.multi_line('xs', 'ys', source=ns13, color= col, line_width= wd)
r14=p.multi_line('xs', 'ys', source=ns14, color= col, line_width= wd)
r15=p.multi_line('xs', 'ys', source=ns15, color= col, line_width= wd)
r16=p.multi_line('xs', 'ys', source=ns16, color= col, line_width= wd)
r17=p.multi_line('xs', 'ys', source=ns17, color= col, line_width= wd)
r18=p.multi_line('xs', 'ys', source=ns18, color= col, line_width= wd)
r19=p.multi_line('xs', 'ys', source=ns19, color= col, line_width= wd)
r20=p.multi_line('xs', 'ys', source=ns20, color= col, line_width= wd)
r21=p.multi_line('xs', 'ys', source=ns21, color= col, line_width= wd)
r22=p.multi_line('xs', 'ys', source=ns22, color= col, line_width= wd)
r23=p.multi_line('xs', 'ys', source=ns23, color= col, line_width= wd)
r24=p.multi_line('xs', 'ys', source=ns24, color= col, line_width= wd)
r25=p.multi_line('xs', 'ys', source=ns25, color= col, line_width= wd)
r26=p.multi_line('xs', 'ys', source=ns26, color= col, line_width= wd)
r27=p.multi_line('xs', 'ys', source=ns27, color= col, line_width= wd)
r28=p.multi_line('xs', 'ys', source=ns28, color= col, line_width= wd)
r29=p.multi_line('xs', 'ys', source=ns29, color= col, line_width= wd)

#Defining hover tool
ghover = HoverTool(renderers=[grid2])
ghover.tooltips=[("zip code", "@GEOID10")]
p.add_tools(ghover)

#Defining checkbox
checkbox = CheckboxGroup(labels=list(zips_sea['zip'][0:30].astype(str)), active= [])
checkbox.callback = CustomJS(args=dict(l0=r0, l1=r1, l2=r2, l3=r3,l4=r4, l5=r5, l6=r6, l7=r7, l8=r8,l9=r9,l10=r10,l11=r11,
                               l12=r12,l13=r13,l14=r14,l15=r15,l16=r16,l17=r17,l18=r18,l19=r19,l20=r20,l21=r21,
                                      l22=r22,l23=r23,l24=r24,l25=r25,l26=r26,l27=r27,l28=r28,l29=r29,l30=r30), 
                             code=code )

group = widgetbox(checkbox)

layout = gridplot([[p,group]])

outfp = r"C:/Users/jabbari/Desktop/uwseds-group-transit-and-social-science/examples/map.html"
output_file(outfp , title='Bokeh Plot', mode='cdn', root_dir=None)
show(layout)

In [ ]:
str(type(p))